{% extends "blog/base.html" %}
{% block title %} "The BLARGH" {% endblock %}

{% block content %}


{% for blog in blog_list %}
	<div class="well span8 offset2" style="margin-top:10px">

		<h3 style="margin:-5px;"> {{blog.title}} </h3>
		<h6 style="margin:-5px;"> {{blog.pub_date|date:"b"}} {{blog.pub_date.day}}</h6>
		<hr>
		<p> {{blog.content}} </p>
	</div>
{% endfor %}

<div class="pagination pagination-centered span12">
    <ul>
        <li> <a href="?page={{ 1 }}">&laquo;</a></li>
		{% if blog_list.has_previous %}
            <li> <a href="?page={{ blog_list.previous_page_number }}">{{ blog_list.previous_page_number }}</a></li>
        {% endif %}
        <li class="active"> <a href="?page={{ blog_list.number }}"> {{ blog_list.number }} </a> </li>

		{% if blog_list.has_next %}
            <li> <a href="?page={{ blog_list.next_page_number }}">{{ blog_list.next_page_number }}</a></li>
        {% endif %}
		<!-- not sure how to get this to work<li> <a href="?page={{ blog_list.last_page_number }}">&raquo;</a></li> -->
    </ul>
</div>
</center>

<!-- 
<div class="pagination">
    <span class="step-links">'
		<table class = "pagelink"><tr><td>
        
		</td>
		<td>
		&nbsp;&nbsp;
		</td>
		<td>
        {% if blog_list.has_next %}
            <a class = "pagelink" href="?page={{ blog_list.next_page_number }}">next</a>
        {% endif %}
		</td></tr></table>
    </span>
</div>
-->
{% endblock %}
